# Ignored compiled class file
**/*.class
.classpath
# Ignored Directories
project/build
project/bin
project/src/test/data/TestSheets/TestFile.xlsx
# Ignored IDE files
**/.vscode/
**/.project
project/.classpath

# Ignored packaged files
*.jar

# Ignored Gradle cache directory
.gradle
